mixin about()
  include _dt_about.pug
  .about.is-collapsed
    .s-container.about__container
      .about__content
        h2.s-heading.about__heading Мы похожи!
        p.s-paragraph.about__paragraph= _PARAGRAPHS[0]
        +button().about__button(type='button') Читать далее
        p.s-paragraph(class=setModifiers('about__paragraph', ['last']))
          = _PARAGRAPHS[1]
