.#{$this}__paragraph {
  margin-bottom: 26px;
  color: $color-gray-dark-1;

  &--last {
    margin-bottom: 0;
  }

  @include media-breakpoint-to(md) {
    &--last {
      .is-collapsed & {
        @include visually-hiding();
      }
    }
  }
}
