.#{$this}__content {
  @include media-breakpoint-from(sm) {
    @include margin-hor(auto);
    max-width: 540px;
  }

  @include media-breakpoint-from(md) {
    width: calc(100% * 540 / 768);
    max-width: 773px;
  }
}
