.#{$this}__item {
  $_top-shift: 22px;

  position: relative;
  margin-bottom: 48px;
  padding-top: $_counter-width + $_top-shift;
  counter-increment: feedback__item;

  &::before {
    @include size($_counter-width);
    content: counter(feedback__item);
    position: absolute;
    top: 0;
    left: calc(50% - #{$_counter-width} / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: normal;
    font-family: $font-roboto;
    color: $color-orange;
    border: 1px solid rgba(255, 255, 255, 0.23);
    border-radius: 50%;
  }

  &--last {
    margin-bottom: 0;
  }

  @include media-breakpoint-from(lg) {
    padding-top: $_top-shift;

    &::before {
      left: -$_padding-left;
    }
  }
}
