.#{$this}__content {
  @include margin-hor(auto);
  max-width: 480px;

  @include media-breakpoint-from(lg) {
    max-width: 480px + $_padding-left * 2;
  }

  @include media-breakpoint-from(hg) {
    max-width: 574px + $_padding-left * 2;
  }
}
