.#{$this}__content {
  @include margin-hor(auto);
  max-width: 520px;

  @include media-breakpoint-from(lg) {
    max-width: 520px + $_padding-left * 2;
  }

  @include media-breakpoint-from(xl) {
    max-width: 548px + $_padding-left * 2;
  }

  @include media-breakpoint-from(hg) {
    max-width: 574px + $_padding-left * 2;
  }
}
