mixin challenge()
  include _dt_challenge.pug

  .challenge
    .s-container.challenge__container
      .challenge__content
        h2.s-visually-hidden Что мы делаем
        ul.s-list.challenge__list
          each item in _LIST
            - const [caption, details] = item;
            li.challenge__item
              h3.challenge__caption= caption
              p.challenge__details= details
