.#{$this}__content {
  @include media-breakpoint-from(sm) {
    @include margin-hor(auto);
  }

  @include media-breakpoint-from(md) {
    width: calc(100% * 670 / 768);
    max-width: 780px;
  }

  @include media-breakpoint-from(lg) {
    width: calc(100% * 780 / 992);
    max-width: 880px;
  }

  @include media-breakpoint-from(xl) {
    width: calc(100% * 880 / 1200);
    max-width: 972px;
  }

  @include media-breakpoint-from(hg) {
    width: 972px;
  }
}
