.#{$this}__details {
  @include margin-ver(0);
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.03em;

  @include media-breakpoint-from(md) {
    font-size: 18px;
  }

  @include media-breakpoint-from(lg) {
    font-size: 20px;
  }

  @include media-breakpoint-from(xl) {
    font-size: 22px;
  }

  @include media-breakpoint-from(hg) {
    font-size: 24px;
  }
}
