.#{$this}__container {
  @mixin _adaptive-bg-image($breakpoint-name) {
    $breakpoint: get-breakpoint($breakpoint-name);
    $breakpoint-unitless: str-slice(#{$breakpoint}, 1, -3);

    background-image: url("../img/#{$this}__container@#{$breakpoint-unitless}x1.jpg");
    background-size: $breakpoint;

    @include media-retina() {
      background-image: url("../img/#{$this}__container@#{$breakpoint-unitless}x2.jpg");
    }
  }

  @include _adaptive-bg-image(sm);
  padding-top: 240px;
  padding-bottom: 40px;
  background-color: $color-gray-light;
  background-position: top;
  background-repeat: no-repeat;

  @include media-breakpoint-from(sm) {
    @include _adaptive-bg-image(md);
  }

  @include media-breakpoint-from(hg) {
    padding-top: 501px;
    padding-bottom: 80px;
    background-image: url("../img/#{$this}__container@1440x1.jpg");
    background-size: auto;
  }
}
