.#{$this}__content {
  @include media-breakpoint-from(sm) {
    @include margin-hor(auto);
  }

  @include media-breakpoint-from(md) {
    max-width: 688px;
  }

  @include media-breakpoint-from(lg) {
    max-width: 880px;
  }

  @include media-breakpoint-from(xl) {
    max-width: 920px;
  }

  @include media-breakpoint-from(hg) {
    max-width: 972px;
  }
}
