.#{$this}__item {
  padding: 20px calc((100% - 1px) * 20 / 280);
  border: $_border;

  @include media-breakpoint-from(sm) {
    width: 50%;
  }

  @include media-breakpoint-from(md) {
    padding: 30px 50px  40px;
  }

  @include media-breakpoint-from(hg) {
    padding: 50px 70px 61px 60px;
  }
}
