.#{$this}__container {
  padding-top: 240px;
  padding-bottom: 40px;
  background-color: $color-gray-light;
  background-image: url("../img/#{$this}__container@576x1.jpg");
  background-position: top;
  background-size: 576px;
  background-repeat: no-repeat;

  @include media-retina() {
    background-image: url("../img/#{$this}__container@576x2.jpg");
  }

  @include media-breakpoint-from(hg) {
    @include padding-hor(234px);
    padding-top: 501px;
    padding-bottom: 80px;
    background-image: url("../img/#{$this}__container@1440x1.jpg");
  }
}
