mixin advantages()
  include _dt_advantages.pug

  .advantages
    .s-container.advantages__container
      h2.s-heading.advantages__heading Приемущества работы с нами
      .advantages__content
        ul.s-list.advantages__list
          each item in _ADVANTAGES
            - const [caption, details] = item;
            li.advantages__item
              h3.advantages__caption= caption
              p.s-paragraph.advantages__details= details
