extends ../base/_template_html.pug

block page-id
  - const $pageId = 'index';

block body__Content
  h1.s-visually-hidden.body__heading Сайт #{$SITE_TITLE}
  main.body__main
    .body-main
      +body-main__nest('slogan')
        +slogan()
      +body-main__nest('challenge')
        +challenge()
      +body-main__nest('about')
        +about()
      +body-main__nest('advantages')
        +advantages()
      +body-main__nest('feedback')
        +feedback()
