mixin slogan()
  .slogan
    .slogan__container
      h1.s-visually-hidden.slogan__heading Сайт #{$SITE_TITLE}
      p.s-heading.slogan__lead Ты готов стать профессионалом?
      p.s-paragraph.slogan__description Мы ищем #[span.slogan__string= 'талантов'] и #[span.slogan__string= 'саппортов'] в команду. Решите на какую категорию вы претендуете.
      a.slogan__link(href='#')
        span.slogan__legend Заполнить анкету
