mixin slogan()
  .slogan
    .s-container.slogan__container
      .slogan__content
        h2.s-heading.slogan__lead Ты готов стать профессионалом?
        p.s-paragraph.slogan__description Мы ищем #[span.slogan__string= 'талантов'] и #[span.slogan__string= 'саппортов'] в команду. Решите на какую категорию вы претендуете.
        a.slogan__link(href='#')
          span.slogan__legend Заполнить анкету
