.#{$this}__container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;

  @include media-breakpoint-from(hg) {
    @include padding-hor(340px);
    padding-top: 165px;
    padding-bottom: 126px;
  }
}
