-
  const GENERAL_META_DATA = [
    ['author', 'Aleksei Arro'],
    ['viewport', 'width=device-width, initial-scale=1, shrink-to-fit=no'],
  ];

each item in GENERAL_META_DATA
  - const [name, content] = item;
  meta(name=name, content=content)
