mixin advantages()
  include _dt_advantages.pug

  .advantages
    .s-container.advantages__container
      .advantages__content
        h2.advantages__heading(class=setModifiers('s-heading', ['small']))
          | Преимущества работы с нами
        ul.s-list.advantages__list
          each item in _ADVANTAGES
            - const [caption, details] = item;
            li.advantages__item
              .advantages__card
                h3.advantages__caption= caption
                p.s-paragraph.advantages__details= details
