.#{$this}__content {
  @include media-breakpoint-from(sm) {
    @include margin-hor(auto);
    max-width: 520px;
  }
  @include media-breakpoint-from(lg) {
    @include padding-hor($_gutter-hor-lg);
    max-width: 976px;
  }

  @include media-breakpoint-from(xl) {
    @include padding-hor($_gutter-hor-xl);
    max-width: 1040px;
  }

  @include media-breakpoint-from(hg) {
    max-width: 1139px;
  }
}
