.#{$this}__content {
  @include media-breakpoint-from(sm) {
    @include margin-hor(auto);
    max-width: 520px;
  }
  @include media-advantages-threshold() {
    width: calc(100% * 976 / 1040);
    max-width: 1040px;
  }

  @include media-breakpoint-from(xl) {
    width: calc(100% * 1040 / 1200);
    max-width: 1139px;
  }
}
