.#{$this}__card {
  $_icon-height: 52px;

  padding-top: $_icon-height + 30px;
  background-image: url("../img/#{$this}__item.svg");
  background-size: $_icon-height $_icon-height;
  background-repeat: no-repeat;
}
