.s-heading {
  @include margin-ver(0);
  font-size: 48px;
  line-height: normal;
  letter-spacing: -0.02em;

  &--small {
    @include padding-hor(2em);
    font-size: 40px;
    text-align: center;
  }
}
