include ../global/mixins/_mx_nest.pug
include ../components/about/_mx_about.pug
include ../components/advantages/_mx_advantages.pug
include ../components/body-header/_mx_body-header.pug
include ../components/challenge/_mx_challenge.pug
